/*
*
* This file is supplementary to all of the other style definitions.  It is simply reinforcing a convention
* for each new site, so that common elements such as a header, footer, main_container, etc. can be reused.
*
*/

.container {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 960px;
    width: 100%;
    position: relative;
}

@mixin gradient($top, $bot, $image:"None") {
    background-color: $bot; 
    background-image: url($image); 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($top), to($bot));
    background-image: -webkit-linear-gradient(top, $top, $bot); 
    background-image: -moz-linear-gradient(top, $top, $bot);
    background-image: -ms-linear-gradient(top, $top, $bot);
    background-image: -o-linear-gradient(top, $top, $bot);
}