/*
*
* "Elements" are parts of the page that box off certain content with a very specific style.
* This includes containers and wells.
*
*/

.top {
    width: 100%;
    @include gradient($topTopBGColor, $topBotBGColor);
}

.main {
    width: 100%;
    background-color: $bgColor;
}

.header {
    height: $headerHeight;
    padding: $elementPadding;
    margin: 0px $pageMargin;
    overflow: auto;
}

.page {
    min-height: 700px;
    background-color: $pageBGColor;
    padding: $elementPadding $asideWidth $elementPadding $elementPadding;
    overflow: hidden;
    margin: $pageMargin;
}

.aside {
    width: $asideWidth;
    min-height: 200px;
    background-color: $asideBGColor;
    position: absolute;
    top: 0px;
    right: $pageMargin;
    padding: 5px;
}

.logo {
    float: left;
    height: 21px;
    width: 116px;
    margin-top: 6px;
    margin-right: 10px;
    background-image: url('../img/clusterflunk_logo.png')
}

.search {
    float: left;

    input {
        width: 150px;
        height: 20px;
        border: none;
        margin: 5px 0px;
        padding: 2px 10px;
        float: left;
        color: #555;

        &:focus {
            outline: none;
        }
    }

    button {
        border: none;
        padding: 6px;
        margin: 5px 0px;
        background-color: #555;
        font-family: $iconFont;
        float: left;
        color: #FFF;

        &:hover {
            cursor: pointer;
        }
    }
}

.account {
    float: right;

    li {
        float: right;

        a {
            display: block;
            padding: 11px 5px;
            font-size: $headerLinkSize;
            color: $navLinkColor;

            &:hover {
                color: $FColor;
            }
        }

        a.avatar {
            display: block;
            padding: 7px 2px 5px 2px;
        }
    }
}