#header {
    height: $slicknasty-header-height;
    padding: $slicknasty-header-padding;
    margin: 0px $slicknasty-page-margin;
    overflow: auto;

    #logo {
        float: left;
        height: 21px;
        width: 116px;
        margin-top: 6px;
        margin-right: 10px;
        cursor: pointer;
        background-image: url('../img/clusterflunk_logo.png');
    }

    #main_nav {
        @include horiz-list;
        float: left;
        margin-right: 10px;
        display: inline-block;

        li {

            > a {
                color: $slicknasty-nav-link-color;
                padding: 12px 3px 5px 3px;

                &:hover {
                    color: $slicknasty-f-color;
                }
            }
        }
    }

    #search {
        float: left;

        input {
            width: 150px;
            height: 20px;
            border: none;
            margin: 5px 0px;
            padding: 2px 10px;
            float: left;
            color: #555;

            &:focus {
                outline: none;
            }
        }

        button {
            border: none;
            padding: 6px;
            margin: 5px 0px;
            background-color: #555;
            font-family: $slicknasty-icon-font;
            float: left;
            color: #FFF;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #account {
        float: right;

        li {
            float: right;

            a {
                display: block;
                padding: 9px 5px;
                font-size: $slicknasty-header-link-size;
                color: $slicknasty-nav-link-color;

                &:hover {
                    color: $slicknasty-f-color;
                }
            }

            a.avatar {
                display: block;
                padding: 5px 2px 5px 2px;
            }

            span {
                display: block;
                padding: 10px 5px;
                font-family: $slicknasty-sans-font-family;
                font-size: $slicknasty-base-font-size;
                color: $slicknasty-account-span-color;
            }
        }
    }
}