/*
*
* "Layouts" are parts of the page that box off certain content with a very specific style.
* This includes containers and wells.
*
*/

#top {
    width: 100%;
    @include gradient($slicknasty-top-top-bg-color, $slicknasty-top-bot-bg-color);
}

#main {
    width: 100%;
    background-color: $slicknasty-bg-color;
    text-align: center;
}