$right-padding: $slicknasty-aside-width + (2 * $slicknasty-aside-padding) + 10px;

#page {
    min-height: 700px;
    background-color: $slicknasty-page-bg-color;
    padding: $slicknasty-page-vert-padding $right-padding $slicknasty-page-vert-padding $slicknasty-page-left-padding;
    overflow: hidden;
    margin: $slicknasty-page-margin;
    text-align: left;
}

#aside {
    width: $slicknasty-aside-width;
    min-height: 200px;
    background-color: $slicknasty-aside-bg-color;
    position: absolute;
    top: 0px;
    right: $slicknasty-page-margin;
    padding: $slicknasty-aside-padding;
    text-align: left;
}