/*
*
* Everything dealing with typography.
*
*/

li, div {
    font-family: $sansFontFamily;
    font-size: $baseFontSize;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: $headingsColor;
    font-family: $sansFontFamily;
    font-weight: $headingsFontWeight;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 12px;
}

a {
    text-decoration: none;
    font-size: $baseFontSize;
    color: $linkColor;
    font-family: $sansFontFamily;
}