/*
*
* Variables
*
*/

// Bootstrap
$bgColor: #2D2D2D;
$FColor: #CC3333;
$iconFont: 'IconicFill';

// Elements
$topTopBGColor: #333;
$topBotBGColor: #222;
$headerHeight: 35px;
$headerBGColor: #2B608C;
$pageMargin: 10px;
$pageBGColor: #FFF;
$asideWidth: 250px;
$asideBGColor: #FFF;
$elementPadding: 5px;

// Navigation
$navLinkColor: #FFF;

// Type
$headerLinkSize: 12px;
$baseFontSize: 13px;
$sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontColor: #333;
$headingsColor: #222;
$headingsLightColor: #e1e1e1;
$headingsFontWeight: 300;
$labelsLightColor: #F2F2F2;
$linkColor: #407CC2;

// Forms
$inputTopColor: #EBEBEB;
$inputBotColor: #fefefe;
$inputColor: #2e2e2e;
$inputPrimaryTopColor: #0580af;
$inputPrimaryBotColor: #026c9a;
$inputPrimaryTextColor: #FFF;
$inputDangerTopColor: #d95c56;
$inputDangerBotColor: #b53832;
$inputDangerTextColor: #FFF;
$inputSuccessTopColor: #5aa600;
$inputSuccessBotColor: #539601;
$inputSuccessTextColor: #FFF;