/*
*
* Variables
*
*/

// Bootstrap
$bgColor: #2D2D2D;
$FColor: #CC3333;
$iconFont: 'IconicFill';

// Elements
$topTopBGColor: #333;
$topBotBGColor: #222;
$headerHeight: 35px;
$headerBGColor: #2B608C;
$pageMargin: 10px;
$pageBGColor: #FFF;
$asideWidth: 250px;
$asideBGColor: #FFF;
$elementPadding: 5px;

// Navigation
$navLinkColor: #FFF;

// Type
$headerLinkSize: 12px;
$baseFontSize: 13px;
$sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseFontColor: #333;
$headingsColor: #222;
$headingsFontWeight: 300;
$linkColor: #407CC2;