/*
*
* Variables
*
*/

// Bootstrap
$slicknasty-bg-color: #2D2D2D;
$slicknasty-f-color: #CC3333;
$slicknasty-icon-font: 'IconicFill';

// Elements
$slicknasty-top-top-bg-color: #333;
$slicknasty-top-bot-bg-color: #222;
$slicknasty-header-padding: 5px;
$slicknasty-header-height: 35px;
$slicknasty-header-bg-color: #2B608C;
$slicknasty-account-span-color: #FFF;
$slicknasty-page-margin: 10px;
$slicknasty-page-bg-color: #FFF;
$slicknasty-aside-width: 250px;
$slicknasty-aside-padding: 5px;
$slicknasty-aside-bg-color: #FFF;
$slicknasty-page-vert-padding: 5px;
$slicknasty-page-left-padding: 15px;

// Navigation
$slicknasty-nav-link-color: #FFF;

// Type
$slicknasty-header-link-size: 12px;
$slicknasty-base-font-size: 13px;
$slicknasty-sans-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$slicknasty-base-font-color: #333;
$slicknasty-headings-color: #222;
$slicknasty-headings-light-color: #e1e1e1;
$slicknasty-headings-font-weight: 300;
$slicknasty-labels-light-color: #F2F2F2;
$slicknasty-link-color: #407CC2;

// Forms
$slicknasty-input-top-color: #EBEBEB;
$slicknasty-input-bot-color: #fefefe;
$slicknasty-input-text-color: #2e2e2e;
$slicknasty-input-border: 1px solid #94C4F4;
$slicknasty-input-dark-color: #555;
$slicknasty-input-dark-text-color: #FFF;
$slicknasty-input-light-color: #FFF;
$slicknasty-input-primary-top-color: #0580af;
$slicknasty-input-primary-bot-color: #026c9a;
$slicknasty-input-primary-text-color: #FFF;
$slicknasty-input-danger-top-color: #d95c56;
$slicknasty-input-danger-bot-color: #b53832;
$slicknasty-input-danger-text-color: #FFF;
$slicknasty-input-success-top-color: #5aa600;
$slicknasty-input-success-bot-color: #539601;
$slicknasty-input-success-text-color: #FFF;