/*
*
* This file defines the look of all of the buttons.  This includes dropdown buttons.
*
*/

@mixin hover {
    &:hover {
        cursor: pointer;
    }
}

@mixin button {
    display: inline-block;

    &.dark {
        @include default_button;
        @include hover;
        background-color: $slicknasty-input-dark-color;
        color: $slicknasty-input-dark-text-color;
    }

    &.light {
        @include default_button;
        @include hover;
        background-color: $slicknasty-input-light-color;
        
    }

    &.primary {
        @include default_button;
        @include hover;
        @include gradient($slicknasty-input-primary-top-color, $slicknasty-input-primary-bot-color);
        color: $slicknasty-input-primary-text-color;
    }

    &.danger {
        @include default_button;
        @include hover;
        @include gradient($slicknasty-input-danger-top-color, $slicknasty-input-danger-bot-color);
        color: $slicknasty-input-danger-text-color;
    }

    &.success {
        @include default_button;
        @include hover;
        @include gradient($slicknasty-input-success-top-color, $slicknasty-input-success-bot-color);
        color: $slicknasty-input-success-text-color;
    }
}

button {
    @include button;
}

a {
    @include button;
}