/*
*
* This file is supplementary to all of the other style definitions.  It is simply reinforcing a convention
* for each new site, so that common elements such as a header, footer, main_container, etc. can be reused.
*
*/

body {
    width: 100%;
    height: 100%;
    background-color: $bgColor;
}

.clear {
    clear: both;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 960px;
    width: 100%;
    position: relative;
}

.auth_container {
    margin: 0 auto;
    display: inline-block;
    text-align: left;

    h1, h2, h3, h4, h5, h6 {
        color: $headingsLightColor;
    }

    .basic, .inline-form, .horiz-form {
        label {
            color: $labelsLightColor;
        }
    }
}