/*
*
* This file handles all variations of navigation lists.
*
*/

.horiz-nav {
    float: left;
    margin-right: 10px;

    li {
        float: left;

        > a {
            display: block;
            color: $slicknasty-nav-link-color;

            &:hover {
                color: $slicknasty-f-color;
            }
        }
    }
}