/*
*
* Everything dealing with typography.
*
*/

h1, h2, h3, h4, h5, h6 {
    color: $headingsColor;
    font-family: $sansFontFamily;
    font-weight: $headingsFontWeight;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    @include baseFont;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: $baseFontSize + 3px;
}

a {
    text-decoration: none;
    font-size: $baseFontSize;
    color: $linkColor;
    font-family: $sansFontFamily;
}

pre {
    line-height: $baseFontSize + 3px;
    border: 1px solid #DDD;
    padding: 10px;
    background-color: #FAFAFA;
}
